name: CI/CD Docker

# 트리거를 수행할 브랜치를 지정합니다.
on:
  push:
    branches: [master]

# 환경설정
env:
  DOCKER_IMAGE: ghcr.io/${{ github.actor }}/discordgamblebot
  VERSION: ${{ github.sha }}
  NAME: go_cicd
  VOLUME_LOG: bot-log

jobs:
  # 빌드 Job
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      # github repository에서 checkout
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18.12.1

      # https://github.com/peaceiris/actions-gh-pages
      - name: Get yarn cache
        id: yarn-cache
        run: echo "YARN_CACHE_DIR=$(yarn cache dir)" >> "${GITHUB_OUTPUT}"

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache.outputs.YARN_CACHE_DIR }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: yarn install --frozen-lockfile
      - run: yarn build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build

      # - name: Cache node modules
      #   id: cache-npm
      #   uses: actions/cache@v3
      #   with:
      #     # npm cache files are stored in `~/.npm` on Linux/macOS
      #     # https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows
      #     path: ~/.npm
      #     key: ${{ runner.os }}-build-${{ hashFiles('**/yarn-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-

      # - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
      #   name: List the state of node modules
      #   continue-on-error: true
      #   run: npm list

      # # https://github.com/marketplace/actions/github-action-for-yarn
      # - name: Run install
      #   uses: borales/actions-yarn@v4
      #   with:
      #     cmd: install --frozen-lockfile

      # - name: Build production bundle
      #   uses: borales/actions-yarn@v4
      #   env:
      #     REACT_APP_BACK_API: ${{ secrets.REACT_APP_BACK_API }}
      #   with:
      #     cmd: build

      # - name: Deploy
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./build
